/* 页面头部样式 */
.page-header{
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
}
.header-section{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    width: 100px;
    height: 37px;
}
.header-user{
    font-size: 0;
}
.user-login{
    font-size: 14px;
    color: #555555;
    padding: 0 15px;
}
.user-login.border{
    border-right: 1px solid #ccc;
}
.user-login:hover {
    color: #35b558;
}
/* 横幅部分样式 */
.banner-section{
    width: 100%;
    height: 426px;
    background: url(./../image/banner.png) no-repeat center / 2000px auto;
    padding-top: 135px;
}
.banner-title{
    font-size: 40px;
    font-family: MicrosoftYaHei;
    color: #FFFFFF;
    text-shadow: 0px 1px 0px rgba(4, 0, 0, 0.1);
    text-align: center;
}
/* 导航部分样式 */
.nav-section{
    width: 100%;
    background: #153188;
}
.nav-section.sticky-top{
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px #b6b6b6;
    z-index: 3000;
}
.nav-list{
    display: flex;
    justify-content: space-between;
}
.nav-item{
    width: 20%;
    height: 70px;
    font-size: 16px;
    font-family: Lantinghei SC;
    color: #FFFFFF;
    text-align: center;
    line-height: 70px;
}
.nav-item.active{
    background: rgba(45, 70, 148, 0.95);
}
.nav-item:hover {
    background: rgba(45, 70, 148, 0.95);
}
/* 简介部分样式 */
.intro-section{
    padding: 61px 0px;
}
.title-img{
    width: 140px;
    height: 50px;
}
.intro-content{
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 30px;
    margin-top: 22px;
}
/* 课程部分样式 */
.course-section{
    padding-top: 51px;
}
.course-player{
    margin-top: 31px;
    position: relative;
}
.course-player-video{
    width: 100%;
    height: 540px;
}
.course-player-btn{
    font-size: 30px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: #1965C5;
    background: #FFFFFF;
    box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.04);
    text-indent: 30px;
    line-height: 75px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.course-player-btn:hover{
    opacity: 1;
}
.course-content{
    margin-top: 25px;
}
.course-content-title{
    font-size: 18px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 20px;
}
.course-content-count{
    margin-top: 14px;
}
.count-text{
    font-size: 12px;
    font-family: Lantinghei SC;
    color: #999999;
    line-height: 12px;
}
.count-text.margin{
    margin: 0px 29px 0px 15px;
}
.course-content-bottom{
    margin-top: 19px;
    display: flex;
}
.course-content-left{
    width: 700px;
    margin-right: 30px;
}
.course-catalog-dt{
    font-size: 14px;
    font-family: Lantinghei SC;
    color: #333333;
    background: #F7F7F7;
    border-top: 1px solid #E4E4E4;
    line-height: 40px;
}
.course-download-icon{
    float: right;
    margin: 13px 20px 12px 0px;
    cursor: pointer;
}
.course-arrow-icon{
    float: left;
    padding: 5px;
    cursor: pointer;
    margin: 12px 8px 10px 18px;
    opacity: 1.5;
}
.course-catalog-dd{
    font-size: 12px;
    font-family: FZLTHK;
}
.course-dd-text{
    color: #666666;
    line-height: 40px;
    border-bottom: 1px solid #F5F5F5;
    cursor: pointer;
    padding-left: 50px;
}
.course-dd-text:last-child{
    border: none;
}
.course-catalog-dl:last-child .course-dd-text:last-child{
    border-bottom: 1px solid #F5F5F5;
}
.course-dd-text:hover{
    color: #009DF7;
}
.dd-text-time{
    color: #999999;
    float: right;
    margin-right: 20px;
}
.course-content-right{
    width: 230px;
}
.course-info{
    padding-bottom: 18px;
    border-bottom: 1px solid #F5F5F5;
}
.title-16px{
    font-size: 16px;
    font-family: Lantinghei SC;
    color: #333333;
    line-height: 16px;
}
.course-info-dt{
    font-size: 12px;
    color: #999999;
    line-height: 12px;
    margin-top: 17px;
}
.course-info-dd{
    font-size: 12px;
    color: #666666;
    line-height: 18px;
    margin-top: 6px;
}
.course-info-dd.logo{
    width: 170px;
    height: 46px;
}
.course-info-dd.desc{
    line-height: 12px;
    margin:-12px 0px 0px 59px;
}
.info-logo-img{
    height: 46px;
}
.course-info-dt.tag{
    margin-top: 15px;
    margin-bottom: 5px;
}
.course-info-tag{
    background: #F7F7F7;
    padding: 4px 9px;
    border-radius: 2px;
    display: inline-block;
    margin-top: 5px;
}
.course-info-tag:hover{
    background: #E4E4E4;
}
.tech-meet{
    margin-top: 16px;
}
.tech-meet-ul{
    margin-top: 20px;
}
.tech-meet-li{
    margin-top: 11px;
}
.tech-meet-img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 7px;
}
.tech-meet-link{
    font-size: 12px;
    font-family: Lantinghei SC;
    color: #666666;
    line-height: 50px;
}
.tech-meet-link:hover{
    color: #009DF7;
}
.tech-meet-text{
    font-size: 12px;
    font-family: Lantinghei SC;
    color: #666666;
    line-height: 24px;
}
.tech-meet-qrcode,.tech-meet-btn{
    font-size: 12px;
    font-family: Lantinghei SC;
    color: #FFFFFF;
    background: #00A8FF;
    border-radius: 2px;
    line-height: 12px;
    display: inline-block;
    padding: 5px 13px;
    margin-top: 2px;
}
.tech-meet-qrcode:hover,.tech-meet-btn:hover{
    background: #00b1ff;
}
.tech-meet-qrcode{
    margin-right: 10px;
    position: relative;
}
.qrcode-img{
    position: absolute;
    top: 28px;
    left: -14.5px;
    display: none;
}
.tech-meet-qrcode:hover .qrcode-img{
    display: block;
}
/* 老师部分样式 */
.teachers-section{
    overflow: hidden;
    padding-top: 56px;
}
.swiper-wraper{
    margin-top: 50px;
    position: relative;
}
.swiper-list{
    display: flex;
}
.swiper-item{
    flex: none;
    width: 240px;
    text-align: center;
    padding: 0px 20px;
    display: inline-block;
}
.teachers-name{
    font-size: 14px;
    font-family: Lantinghei SC;
    color: #333333;
    line-height: 14px;
    margin-top: 13px;
}
.teachers-career,.teachers-intro{
    font-size: 12px;
    font-family: Lantinghei SC;
    color: #999999;
    line-height: 18px;
    margin-top: 7px;
}
.teachers-intro{
    color: #666666;
    text-align: left;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-left: 6px;
}
.swiper-prev,.swiper-next{
    width: 25px;
    height: 40px;
    background: rgba(226, 230, 234, 0.8);
    transition: all .3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.swiper-prev:hover,.swiper-next:hover{
    background: rgba(177, 189, 198, 0.8);
}
.swiper-prev{
    left: 0;
}
.swiper-prev::after{
    content: '';
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 32.5%;
    left: 40%;
}
.swiper-next{
    right: 0;
}
.swiper-next::after{
    content: '';
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135degdeg);
    position: absolute;
    top: 32.5%;
    right: 40%;
}
/* 产品部分样式 */
.products-section{
    padding-top: 61px;
}
.products-title{
    width: 320px;
    height: 49px;
}
.products-wraper{
    overflow: hidden;
    margin: 30px 0px;
}
.products-img{
    float: left;
    margin-right: 20px;
}
.products-content-title{
    font-size: 20px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 23px;
    transform: rotate();
}
.products-content-desc{
    font-size: 13px;
    font-family: FZLTHK;
    color: #666666;
    line-height: 22px;
    margin-top: 8px;
}
.products-content button{
    width: 130px;
    height: 40px;
    font-size: 15px;
    font-family: Lantinghei SC;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 17px;
}
.products-btn-left{
    color: #FFFFFF;
    background: #00A8FF;
    border: none;
    margin-right: 15px;
}
.products-btn-left:hover{
    opacity: 0.8;
}
.products-btn-right{
    color: #00A8FF;
    background: #FFFFFF;
    border: 1px solid #00A8FF;
}
.products-btn-right:hover{
    color: #FFFFFF;
    background: #00A8FF;
}
.products-about{
    margin-top: 25px;
}
.products-about-text{
    font-size: 15px;
    font-family: FZLTHK;
    color: #666666;
    margin-right: 11px;
}
.products-about-link{
    font-size: 12px;
    font-family: FZLTHK;
    color: #1C7C89;
    background: #CAEAEF;
    border-radius: 16px;
    padding: 8px 18px;
    margin-right: 10px;
}
.products-about-link:hover{
    background: #bde4ea;
}
.products-list{
    padding: 30px 0px;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    justify-content: space-between;
}
.products-item{
    cursor: pointer;
    position: relative;
}
.products-item-text{
    font-size: 16px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* 关于部分样式 */
.about-section{
    padding-top: 29px;
}
.about-title{
    width: 210px;
    height: 49px;
}
.about-list{
    margin-top: 51px;
    display: flex;
    justify-content: space-around;
}
.about-item{
    text-align: center;
}
.about-img{
    cursor: pointer;
}
.about-name{
    font-size: 14px;
    font-family: Lantinghei SC;
    color: #333333;
    line-height: 14px;
    margin-top: 22px;
}
.about-desc{
    font-size: 12px;
    font-family: Lantinghei SC;
    color: #999999;
    line-height: 12px;
    margin-top: 13px;
}
.about-btn{
    width: 91px;
    height: 32px;
    font-size: 14px;
    font-family: Lantinghei SC;
    color: #FFFFFF;
    background: #00A8FF;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
.about-btn:hover{
    background: #00b1ff;
}
/* 页面脚部样式 */
.page-footer{
    margin-top: 60px;
    padding: 20px 0px;
    border-top: 1px solid #e4e4e4;
}
.contact-way{
    text-align: center;
}
.contact-way a{
    width: 22px;
    height: 18px;
    background: url(https://e.jikexueyuan.com/headerandfooter/images/otherway.png) 0 0 no-repeat;
    display: inline-block;
    margin-right: 20px;
}
.contact-way .weixin-icon{
    background-position: -28px 0px;
}
.contact-way .ina-icon{
    background-position: 0px 0px;
}
.contact-way .facebook-icon{
    background-position: -104px 0px;
} 
.contact-way .google-icon{
    background-position: -80px 0px;
    margin-right: 0;
}
.copyright{
    font-size: 12px;
    color: #999;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
/* 去到顶部部分样式 */
.gotop-section{
    width: 40px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 500px;
    transform: translateY(-50%);
    -wibkit-transform: translateY(-50%);
    z-index: 2000;
}
.gotop-item{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 1px;
}
.gotop-tel{
    background: #fff url(https://e.jikexueyuan.com/headerandfooter/images/tel.png) 12px 10px no-repeat;   
    position: relative;
}
.gotop-tel:hover {
    background: #fafafa url(https://e.jikexueyuan.com/headerandfooter/images/tel_hover.png) 12px 10px no-repeat;
}
.tel-number{
    width: 157px;
    height: 89px;
    background: url(https://e.jikexueyuan.com/headerandfooter/images/tel_number.png) center center no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 2100;
    left: -155px;
    top: -4px;
    display: none;
}
.gotop-tel:hover .tel-number{
    display: block;
}
.gotop-wechat{
    background: #fff url(https://e.jikexueyuan.com/headerandfooter/images/wx.png) 12px 10px no-repeat;
    position: relative;
}
.gotop-wechat:hover{
    background: #fafafa url(https://e.jikexueyuan.com/headerandfooter/images/wx_hover.png) 12px 10px no-repeat;
}
.wechat-qrcode{
    width: 158px;
    height: 178px;
    background: url(https://e.jikexueyuan.com/headerandfooter/images/qrcode.png) center center no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 2100;
    left: -156px;
    top: -87px;
    display: none;
}
.gotop-wechat:hover .wechat-qrcode{
    display: block;
}
.top-arrow{
    width: 40px;
    height: 40px;
    background: #fff url(https://e.jikexueyuan.com/headerandfooter/images/top.png) 11px 10px no-repeat;
}
.top-arrow:hover{
    background: #fafafa url(https://e.jikexueyuan.com/headerandfooter/images/top_hover.png) 11px 10px no-repeat;
}